<div>
  <mat-toolbar color="primary">

    <!-- toggle(), opened sont des fonctions de Material UI -->

    <!-- Permet d'ouvrir / fermer le menu à gauche la page -->
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
      <!-- Si le menu est fermé, l'icône change, ngIf permet de faire un if-->
      <mat-icon *ngIf="drawer.opened === false"
                aria-label="Side nav toggle icon">menu_open
      </mat-icon>
      <!-- Si le menu est ouvert, l'icône change -->
      <mat-icon *ngIf="drawer.opened === true"
                aria-label="Side nav toggle icon">menu
      </mat-icon>
    </button>
    <span>Gestion des utilisateurs</span>

    <!-- Bouton à droite permettant de déconnecter l'utilisateur, TODO : La fonction logout() n'est pas encore faite -->
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-toolbar>

  <!-- TODO : code à commenter !-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport fixedTopGap="64"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list>

      <!-- Titre 1 de la navbar -->
      <h2 matSubheader>Utilisateur</h2>
      <!-- Si l'utilisateur clique sur dashboard, cela le redirigera grâce au routerlink -->
      <a mat-list-item
         routerLink="/users/dashboard"
         routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <!-- Si l'utilisateur clique sur Ldap, cela le redirigera grâce au routerlink -->
      <a mat-list-item
         routerLink="/users/list"
         routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon>list</mat-icon>
        Ldap
      </a>

      <mat-divider></mat-divider>

      <!-- Titre 2 de la navbar -->
      <h2 matSubheader>Importation</h2>
      <!-- Si l'utilisateur clique sur important, cela le redirigera grâce au routerlink -->
      <a mat-list-item
         routerLink="/users/import"
         routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon>save_alt</mat-icon>
        Importation
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Permet d'afficher le contenu de la page géré par le routage -->
  <mat-sidenav-content>
    <div class="main_content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
